@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

$primaryColor: #25235b;
$secondaryColor: #ee666c;  /*rgb(238, 102, 108)*/
$tertiaryColor: #69c5d7;
$black: #212529;
$lightGray: #f3f3f2;
$white: #fff;
$fontSize: 16px;
$fontFamily: 'Poppins', sans-serif;
$transition: .5s ease;
$boxShadow: 0 0 20px gray;

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.7;
}
a {
  color: $white;
}
a:hover {
  color: $tertiaryColor;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 800;
}
h2 {
  color: $secondaryColor;
  text-transform: uppercase;
  font-weight: 800;
}
/*************
header
**************/
#home {
  background: linear-gradient(rgba($black, .8), rgba($black, .8)), url(../img/header3.jpg);
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
/**********
 about
 **********/
 #about {
  margin-top: -100px;
  .row:first-child {
    background: $primaryColor;
    h1 {
      margin-top: -100px;
    }
  }
  .row {
    .col-md-4:first-child {
      .card .card-body {
        padding: 0;
        div:first-child {
         background: $secondaryColor;
         padding: 30px;
       }
       div:last-child {
         background: $lightGray;
         padding: 30px;
       }
      }
    }
    .col-md-4:nth-child(2) {
      .card .card-body {
        padding: 0;
        div:first-child {
         background: $primaryColor;
         padding: 30px;
       }
       div:last-child {
         background: $secondaryColor;
         padding: 30px;
       }
      }
    }
    .col-md-4:last-child {
      margin-top: 96px;
     .card .card-body {
       padding: 0;
       div:first-child {
        background: $lightGray;
        padding: 30px;
      }
      div:last-child {
        background: $primaryColor;
        padding: 30px;
      }
     }
   }
   }
 } 
/**********
 footer
 **********/
 footer {
  background: url(../img/footer.jpg);
}
  

